.image-card-base{
    width: 100%;
    padding: 10px;
}
.image-card-base.desktop{
    width: 100%;
    padding: 17px;
}

.image-card-base.desktop:last-child{
    margin-right: 0px;
}

.image-card-base img{
    max-width: 100%;
}