.home-icon-container{
    width: 30px;
    height: 30px;
    padding-top: 20px;
    margin-right: 20px;
}

.home-icon-roof, .home-icon-walls{
    background-color: white;
}

.home-icon-walls{
    width: 20px;
    height: 15px;
    margin: 0 auto;
}
.home-icon-walls::after{
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.home-icon-roof{
    background-color: transparent !important;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid white;
    margin-top: -20px;
}